/*тело*/
.bodybg {
    background-color: #3c303a;
    background-color: rgba(60, 48, 58, 1);
    background-image: url(https://i.ibb.co/6rrBrYM/up.png), linear-gradient(90deg, #3c303afa, #ad5780fa);
    background-attachment: scroll, scroll;
    background-position: top center, top left;
    background-repeat: no-repeat, repeat;
    background-size: auto, auto;
}

.navbar {
    background-color: transparent;
    margin-bottom: 30px !important;
    margin-top: 12px !important;
    border-radius: 5px !important;
    margin-right: 25px;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: #747474;
}

.shadow-sm {
    box-shadow: none !important;
}

.pc-menu {
    margin-left: 0px;
    margin-right: 60px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-top: 3px;
    background-color: #baa9b3;
    box-shadow: 0px 0px 5px #baa9b3, 0px 0px 5px #baa9b3, 0px 0px 5px #baa9b3;
}

div.left-menu {
    margin-bottom: auto;
    padding: 0;
    border: 0px;
    background-color: #baa9b3;
    box-shadow: 0px 0px 3px #baa9b3, 0px 0px 3px #baa9b3, 0px 0px 3px #baa9b3;
}

body.bodybg {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

div#app {
    padding: 7px;
}

::selection {
    background: #363636;
    color: #f4d5e9;
}
::-moz-selection {
    background: #363636;
    color: #f4d5e9;
}

::-webkit-selection {
    background: #363636;
    color: #f4d5e9;
}



/*навигация и дата*/
.datebg {
    text-align: center;
    color: #000000;
    text-shadow: 0 0 6px #cd80a3, 0 0 8px #cd80a3, 0 0 10px #cd80a3;
}

.crumb-item {
    color: #000000;
    text-shadow: 0 0 6px #cd80a3;
}



/*записи и комментарии*/
.comment-content {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 20px;
    margin-bottom: 20px;
}

.post-content {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 30px;
}

.post-content,
.comment-content {
    padding-right: 7px;
    padding-left: 7px;
    background-color: #baa9b3;
    box-shadow: 0px 0px 3px #baa9b3, 0px 0px 3px #baa9b3, 0px 0px 3px #baa9b3;
    border: 3px solid transparent;
    border-image: linear-gradient(to left top, #161014 10%, transparent 30%, transparent 70%, #cd80a3 90%);
    border-image-slice: 1;
    min-height: auto;
}

div.post-content: {
    margin: 0px !important;
}

.post-opt.col-12.col-md-6 {
    margin-bottom: 2px !important;
    position: sticky;
    top: 100%;
    font-size: 0.85rem !important;
}

.comment-base .comment-text + div {
    padding-left: 7px;
}

.comment-text + div {
    margin-bottom: 2px !important;
    text-align: right;
    position: sticky;
    top: 100%;
}

.postsiblings {
    margin-top: 3px;
}

.post-avatar img {
    border-radius: 4px;
}

.sign {
    line-height: 1.25;
    margin-top: 2px;
}

.post-title-user {
    font-size: 0.95rem;
}

.textarea-wrapper > textarea {
    background: #e6dbe2;
}

.sign {
padding-bottom: 2px;
}


/*меню*/
h3.left-menu-text {
    font-size: 15px;
    background: #cd80a3 !important;
    color: #000000 !important;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.left-menu h3 {
    padding-top: 3px;
    padding-bottom: 2px;
    margin-bottom: 5px;
}

.left-menu {
    color: #000000;
    font-size: 0.85rem;
    overflow: auto;
    line-height: normal;
}

.left-menu {
    margin-right: 20px !important;
}

.left-menu a {
    color: #000000;
}

.left-menu a:hover {
    color: #b4145e !important;
    text-decoration: none;
}

.left-menu > div {
    padding-bottom: 5px;
}

.left-menu-text {
    margin-bottom: 0px;
}



/*меню пользователя*/
#usermenu {
    background-color: #e6dbe2;
    overflow: visible;
    border-bottom: unset;
    border: 1px solid #948573;
}

#usermenu a {
    color: #000000;
    text-align: left;
    padding: 0px;
    font-size: 0.9rem;
    line-height: 1.25;
    font-weight: 100;
}

#usermenu a:hover {
    color: #b4145e !important;
}


/*мобильное отображение*/
@media (max-width: 768px) {
    .fas,
    .far > * {
        font-size: 1.2rem !important;
    }

    .tag_bar > span {
        font-size: 1.2rem !important;
}

    .tag_bar {
        font-size: 1rem !important;
    }

    .tag_bar > span {
        margin-right: 0px;
        padding-right: 3px;
        padding-left: 3px;
    }

    .fas, .far, .tag_bar > * {
        padding-top: 0.3rem !important;
        padding-bottom: 0.3rem !important;
        padding-left: 1px !important;
        padding-right: 1px !important;
}

    div#app {
        padding: 7px !important;
    }

    .left-menu {
        margin-bottom: 10px !important;
    }

    body.bodybg {
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .content {
        width: 100%;
    }

    .post-content {
        margin-top: 10px;
    }

    .left-menu > div.mobile_open_menu > h3 {
        font-size: 15px;
    }

    .mobile_open_menu > h3 {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: -2px;
    }

    div.crumbs {
        padding-top: 5px;
    }
    .avatar-select-list {
        margin-top: -15px;
        margin-bottom: -15px;
    }
    .avatar-select-label {
        max-width: 90px !important;
        min-height: 90px !important;
    }
    .post-avatar img {
        max-width: 70px;
    }
}

.menu__box {
    padding-top: 60px;
    background-color: #e6dbe2;
    overflow: visible;
    border-bottom: unset;
    border: 1px solid #948573;
    color: #000000;
    font-size: 0.85rem;
    overflow: auto;
    line-height: normal;
}

.menu__item:hover {
    color: #b4145e !important;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #b4145e !important;
    text-decoration: none;
}


/*низ*/
#newpostform {
    background-color: transparent;
}

.messageform > p {
    margin-bottom: 0px;
}

.textareabg {
    color: #f4d5e9;
    line-height: normal;
}

.textareabg p {
    margin-bottom: 0px;
}

.col-md-4 {
    padding: 0px;
}

.textarea-wrapper {
    min-height: 224px !important;
}

.tag_bar {
    font-size: 15.5px;
}

span.emj-dropdown {
    padding-bottom: 3px;
    padding-top: 3px;
}

.textareabg {
    background: transparent;
}

.textareabg p {
    margin-bottom: 0px;
}
.col-md-4 {
    padding: 0px;
}

.container-fluid.mt-5 {
    margin-top: 0px !important;
}
span.emj-dropdown {
    padding: 0px;
}

.postdesc {
    background: #e6dbe2;
    line-height: 1.25;
}


/*аватарки*/
.avatar-select-label {
    border: 4px solid transparent;
}

.avatar-select-label-selected {
    border: 4px solid transparent;
    border-image: linear-gradient(to left top, #161014 30%, #e31876 70%);
    border-image-slice: 1;
}



/*кнопки*/
a.my-menu.for-mobile.d-none.d-md-inline::before,
a.my-menu.for-mobile.mobile-scroll-down.d-inline.d-md-none::before {
    content: 'ВНИЗ';
    font-size: 20px;
    color: #000000;
    text-shadow: 0 0 6px #cd80a3, 0 0 8px #cd80a3, 0 0 10px #cd80a3;
}

[style="float:right;cursor:pointer;text-shadow: 1px 1px 1px white;"]:before {
    content: 'ВВЕРХ';
    font-size: 20px;
    color: #000000;
    text-shadow: 0 0 6px #cd80a3, 0 0 8px #cd80a3, 0 0 10px #cd80a3;
    padding-bottom: 10px;
    padding-right: 10px;
}

a.my-menu.for-mobile.d-none.d-md-inline,
[style="float:right;cursor:pointer;text-shadow: 1px 1px 1px white;"],
a.my-menu.for-mobile.mobile-scroll-down.d-inline.d-md-none {
    font-size: 0;
}

a.d-none {
    margin-right: -55px;
}

input[type="text"],
select {
    background: #e6dbe2;
    border: 1px solid #232323;
    border-radius: 0;
    margin: 0 5px 5px 0;
}
[type=reset],
[type=submit],
button,
html [type=button] {
    background: #cd80a3;
    border: none;
    border-radius: 0px;
    color: #000000 !important;
}

input[type="text"]:focus-visible {
    outline: none;
}

[type=reset]:hover,
[type=submit]:hover,
button:hover,
html [type=button]:hover {
    background: #cd80a3;
    border: none;
    color: #000000 !important;
    border-radius: 0px;
}
button.close {
    background: transparent !important;
}

::-webkit-scrollbar-button {
    background-repeat: no-repeat;
    width: 2px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background-color: #cd80a3;
    color: #000000;
    box-shadow: none;
    width: 2px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: #cd80a3;
    color: #000000;
    box-shadow: none;
}

::-webkit-resizer {
    width: 2px;
    height: 0px
}

::-webkit-scrollbar {
    width: 2px;
}


/*ссылки*/
.py-4 a,
.crumbs a {
    color: #000000 !important;
}

.py-4 a:hover,
.crumbs a:hover {
    color: #b4145e !important;
    text-decoration: none;
}

.fas.fa-heart {
    color: #000;
}

.liked .fas,
.reposted .fas,
.bookmarked .fas {
    color: #b4145e !important;
}

.post__mood,
.post__musicplay,
.post__wish,
.post__tags-list {
    color: #000000 !important;
}

.postsiblings:hover {
    color: #b4145e !important;
}

a.messageform__taglink.tag {
    color: #000000;
}

.nextsibling.text-right.col-md-6 a:hover {
    color: #b4145e !important;
}

i.fas.fa-heart:hover,
i.fas.fa-retweet:hover,
i.fas.fa-bookmark:hover,
i.fas.fa-trash-alt:hover,
i.fas.fa-exclamation-triangle:hover,
i.fas.fa-quote-left:hover {
    color: #b4145e !important;
}



/*скрытое*/
.post-content.blog_total_counter {
    display: none;
}

h2 {
    display: none;
}

.footer__infolinks {
    display: none;
}

#page__rendertime {
    display: none;
}

#page__admincontact {
    display: none;
}

#footer {
    display: none;
}



/*ошибки*/
.row.w-100,
.comment-text + div {
    margin-bottom: 2px !important;
    position: sticky;
    top: 100%;
    margin-bottom: 0px !important;
}

.postsiblings {
    font-size: 0.85rem !important;
}

.tag_bar {
    padding-bottom: 5px;
}

.post-opt {
    font-size: 0.85rem;
}

label.menu__btn {
    width: 25px;
    height: 25px;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    box-shadow: 0 0 6px #cd80a3, 0 0 8px #cd80a3, 0 0 10px #cd80a3;
    background: #000000;
    height: 2px;
    transform: rotateY(45deg);
}

.user::before {
    content: url(https://i.ibb.co/wd6VH8r/userbefore13.png);
    padding-right: 2px;
}

[src="/i/user.png"] {
    content: url(https://i.ibb.co/wd6VH8r/userbefore13.png);
    padding-right: 2px;
}

p.quotation br {
    display: none;
}
p.quotation {
    margin: 0px;
    font-size: 0.85rem;
    border-left: 3px solid #cd80a3;
    padding-top: 0rem !important;
}

.post-text,
.comment-text,
.comment-base {
    color: #000000;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000000;
}

a.user {
    padding-right: 3px;
}

span[data-target="#deleteconfirmmodal"] {
    color: #000000;
}

.messageform br {
    display: none;
}

span.post-title-date + a {
    font-size: 0.75rem;
    color: #000000;
}

.post-title-date {
    font-size: 0.75rem;
    color: #000000;
}

img.flag {
    margin-left: -2px;
    margin-bottom: 1px;
    padding-bottom: 1px;
    padding-top: 0px;
}

body {
    overflow-y: scroll;
}

@media (max-width: 768px) {
i.fas.fa-heart,
i.fas.fa-retweet,
i.fas.fa-bookmark,
i.fas.fa-trash-alt,
i.fas.fa-exclamation-triangle,
i.fas.fa-quote-left {
    font-size: 1rem !important;
}

span.comments_count a {
    font-size: 1rem;
}

span.comments_count span::before {
    font-size: 1rem;
}

span.comments_count {
    margin-right: -20px;
}

.post-opt.col-12.col-md-6.text-right {
    max-width: 100px;
    position: sticky;
    left: 100%;
 }
}



/*плеер*/
[src*="soundcloud.com/player/"] {
    height: 26px;
    background: linear-gradient(90deg,#ff6845,#544c52);
    border-radius: 20px;
    padding: 3px;
    filter: hue-rotate(325deg) saturate(70%);
}
